node_modules/
db/
coverage/
build/
public/javascripts/browserified.js
disc.html
.DS_Store
.env
.zedstate
tags
zedrem.exe
.zedstate
.idea/*


jsconfig.json

public/javascripts/browserified.js

.vscode/settings.json
