<% include header %>

<div class="col-sm-12  col-md-12 main">
    <form id="connection-form" role="form" class="col-md-6 col-md-offset-3" action="<%= baseUrl %>/configs/<%= config._id || "new" %>"
          method="post">
        <fieldset>

            <!-- Form Name -->
            <legend>Config Item</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class=" control-label" for="key">Key</label>

                <input id="key" name="key" value="<%= config.key %>" type="text" placeholder=""
                       class="form-control input-md">
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class=" control-label" for="value">Value</label>

                <input id="value" name="value" value="<%= config.value %>" type="text" placeholder=""
                       class="form-control input-md">
            </div>

            <% if (config._id) { %>
            <input type="hidden" name="_method" value="put"/>
            <% } %>

            <!-- Button (Double) -->
            <div class="form-group">
                <label class=" control-label" for="btnTest"></label>

                <div class="">
                    <button id="btn-Save-config" name="btnSave" class="btn btn-primary" type="submit">Save</button>
                </div>
            </div>

        </fieldset>
    </form>
</div>


<% include footer %>
