     </div> <!-- /row -->
    </div> <!-- /container -->

   <!-- Modal -->
    <div class="modal" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">About SqlPad</h4>
          </div>
          <div class="modal-body">
            <p>
                <strong>Version</strong>: <%= version %>
            </p>
            <p>
                <strong>Project Page</strong>: <a href="http://rickbergfalk.github.io/sqlpad/" target="_blank">http://rickbergfalk.github.io/sqlpad <span style="margin-left: 4px;" class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
            </p>
            <hr>
            <p>
                SqlPad is open source! Feel free to browse the code,
               discuss a potential new feature,
               report a bug, etc.<br>
            </p>
            <p>
                <ul class="nav nav-pills nav-justified">
                  <li role="presentation"><a href="https://github.com/rickbergfalk/sqlpad" target="_blank">GitHub Repository <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></li>
                  <li role="presentation"><a href="https://github.com/rickbergfalk/sqlpad/blob/master/CHANGELOG.md" target="_blank">Changelog <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></li>
                  <li role="presentation"><a href="https://github.com/rickbergfalk/sqlpad/issues" target="_blank">Issues <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></li>
                </ul>
            </p>

             </div>
      </div>
    </div>

    <!--
        This stuff has been made available as globals via browserify shim
        Ideally this would be managed via npm/browserify completely, but it seems really confusing.
        I'll revisit once I'm a bit more familiar with how browserify performs its magic
    -->
    <script src="/javascripts/vendor/underscore-min.js"></script>
    <script src="/javascripts/vendor/jquery-2.2.0.min.js"></script>
    <script src="/javascripts/vendor/bootstrap.min.js"></script>
    <script src="/javascripts/vendor/ace-src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/vendor/jquery.event.drag-2.2.js"></script> <!-- needed for slickgrid -->
    <script src="/javascripts/vendor/slickgrid/slick.core.js"></script>
    <script src="/javascripts/vendor/slickgrid/slick.grid.js"></script>
    <script src="/javascripts/vendor/d3.min.js"></script>
    <script src="/javascripts/vendor/saveSvgAsPng.js"></script>
    <script src="/javascripts/vendor/typeahead.bundle.js"></script>
    <script src="/javascripts/vendor/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
    <script src="/javascripts/vendor/tauCharts/tauCharts.min.js"></script>
    <script src="/javascripts/vendor/ZeroClipboard/ZeroClipboard.min.js"></script>
    <!-- then finally the browserified/bundled js -->
    <script src="/javascripts/browserified.js"></script>

    <!-- key-value configs -->
    <script>
      window.configItems = <%- configItems %>;
    </script>

  </body>
</html>
