    
        </div> <!-- /row -->
    </div> <!-- /container -->
    
    <!-- Modal -->
    <div class="modal fadez" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">About SqlPad</h4>
          </div>
          <div class="modal-body">
            <p>
                <strong>Version</strong>: <%= version %>
            </p>
            <% include thank-yous %>
          </div>
          <!--
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
          -->
        </div>
      </div>
    </div>
    
    <!-- 
        This stuff has been made available as globals via browserify shim 
        Ideally this would be managed via npm/browserify completely, but it seems really confusing.
        I'll revisit once I'm a bit more familiar with how browserify performs its magic
    -->
    
    <!-- jquery -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    
    <!-- bootstrap -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    
    <!-- ace editor -->
    <script src="/javascripts/vendor/ace-src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    
    <!-- slick grid stuff -->
    <script src="/javascripts/vendor/jquery.event.drag-2.2.js"></script>
    <script src="/javascripts/vendor/slickgrid/slick.core.js"></script>
    <script src="/javascripts/vendor/slickgrid/slick.grid.js"></script>
    
    <!-- nvd3 -->
    <script src="/javascripts/vendor/d3.v3.js"></script>
    <script src="/javascripts/vendor/nv.d3.min.js"></script>
            
    <!-- jquery splitter -->
    <script src="/javascripts/vendor/jquery.splitter/jquery.splitter-0.14.0.js"></script>
    
            
    <!-- browserified js -->
    <script src="/javascripts/browserified.js"></script>
    
    
    
  </body>
</html>
