    
        </div> <!-- /row -->
    </div> <!-- /container -->
    
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
   
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script src="/javascripts/vendor/ace-src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    
    <!-- slick grid stuff -->
    <script src="/javascripts/vendor/jquery.event.drag-2.2.js"></script>
    <script src="/javascripts/vendor/slickgrid/slick.core.js"></script>
    <script src="/javascripts/vendor/slickgrid/slick.grid.js"></script>
    
    <!-- nvd3 -->
    <script src="/javascripts/vendor/d3.v3.js"></script>
    <script src="/javascripts/vendor/nv.d3.min.js"></script>
    
            
    <!-- jquery splitter -->
    <script src="/javascripts/vendor/jquery.splitter/jquery.splitter-0.14.0.js"></script>
    
            
    <!-- my.js -->
    <script src="/javascripts/main.js"></script>
    
  </body>
</html>
