<% include header %>
  
  <form class="form-signin" role="form">
      <h2 class="form-signin-heading">Please sign in</h2>
      <% if (message) { %>
          <h3><%= message %></h3>
      <% } %>
      <input type="email" class="form-control" placeholder="Email address" required autofocus>
      <input type="password" class="form-control" placeholder="Password" required>
      <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
      </label>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
  
  <div class="jumbotron">
	<h1>Welcome to <%= title %></h1>
    <p>
      Some text
    </p>
	<p>
	  <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
	</p>
  </div>

<% include footer %>