<% include header %>
  
	<form class="form-signin" role="form">
		<h2 class="form-signin-heading">Please sign in</h2>
		<% if (message) { %>
			<h3><%= message %></h3>
		<% } %>
		<input type="email" class="form-control" placeholder="Email address" required autofocus>
		<input type="password" class="form-control" placeholder="Password" required>
		<label class="checkbox">
			<input type="checkbox" value="remember-me"> Remember me
		</label>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	</form>

<% include footer %>