<% include header %>
  	
	<form class="form-signin" role="form" action="/signup" method="post">
		<h2>SqlPad</h2>
        <% if (message) { %>
            <h3><%= message %></h3>
        <% } %>
		<input
		    name="email"
		    value="<%= email %>"
		    type="email"
		    class="form-control top-field"
		    placeholder="Email address"
		    required
		    autofocus>
		<input
		    name="password"
		    value="<%= password %>"
		    type="password"
		    class="form-control middle-field"
		    placeholder="Password"
		    required>
		<input
		    name="passwordConfirmation"
		    value="<%= passwordConfirmation %>"
		    type="password"
		    class="form-control bottom-field"
		    placeholder="Confirm Password"
		    required>
        <br>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
	</form>

<% include footer %>