<p>
    Thank you to the following libraries! Without them I wouldn't have gotten this far.
    <br>
    <ul>
        <!-- client-side js -->
        <li>
            <a href="http://ace.c9.io/">Ace Editor</a> for an awesome code editor
        </li>
        <li>
            <a href="https://github.com/mleibman/SlickGrid">Slick Grid</a> for a grid that doesn't choke with huge recordsets
        </li>
        <li>
            <a href="http://d3js.org/">D3</a> for providing a foundation of interactive graphics on the web 
        </li>
        <li>
            <a href="http://nvd3.org/">NVD3</a> for making useful, reusable charts on top of D3 
        </li>
        <li>
            <a href="http://jquery.com/">jQuery</a> for making the DOM and AJAX so convenient 
        </li>
        <li>
            <a href="http://getbootstrap.com/">Bootstrap</a> for providing all the pre-built components a web-app needs
        </li>
        
        <!-- Node.js -->
        <li>
            <a href="http://browserify.org/">Browserify</a> for making client-side js more like Node.js
        </li>
        
        <li>
            <a href="http://expressjs.com/">Express</a> (and associated middleware) for making web-server stuff easy
        </li>
        <li>
            <a href="https://www.npmjs.org/package/nedb">NeDB</a> for a cool and quick embedded "nosql" db
        </li>
        <li>
            <a href="https://www.npmjs.org/package/pg.js">pg.js</a> for a mature pure-js Postgres driver
        </li>
        <li>
            <a href="https://www.npmjs.org/package/tedious">tedious</a> for a pure-js Microsoft SQL Server driver
        </li>
        <li>
            <a href="https://www.npmjs.org/package/mssql">mssql</a> for making tedious less tedious
        </li>
        <li>
            <a href="https://www.npmjs.org/package/mysql">mysql</a> for a solid pure-js MySql driver
        </li>
        <li>
            <a href="https://www.npmjs.org/package/update-notifier">update-notifier</a> for making it easy to do those update-available messages
        </li>
        <li>
            <a href="http://momentjs.com/">moment</a> for making complicated date logic easy
        </li>
        <li>
            <a href="https://www.npmjs.org/package/lodash">lodash</a> (and underscore) for being that useful utility belt
        </li>
        <li>
            <a href="https://www.npmjs.org/package/yargs">yargs</a> for providing just enough stuff to handle cli arguments
        </li>
        <li>
            All the other packages in my package.json, for making Node.js feel like legos
        </li>
    </ul>
</p>