/* Move down content because we have a fixed navbar that is 50px tall */
body {
  /* padding: 50px; */
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}



a {
  color: #00B7FF;
}

.error {
  text-align: center;
}

.signin {
  max-width: 330px;
  margin: 0 auto;
  padding: 15px;
}

.signin h2 {
    text-align: center;
    padding-bottom:20px
}

.signin a:hover, .signin a:focus, .signin a:active {
  text-decoration: none;
}

.form-signin-footer {
    text-align: center;
    margin-top: 15px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
		  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.top-field {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.middle-field {
  margin-bottom: -1px;
  border-radius: 0;
}
.bottom-field {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.main {
    margin-top: 20px;
}



/*  Navbar stuff?
======================================================== */
.navbar {
    margin-bottom: 0;
}

.navbar-left-border {
    border-left: 1px solid #fafafa;
    margin-left: 16px;
}

.navbar-form .form-control.input-query-name {
  font-size: 18px;
  line-height: 20px;
  width: 450px;
}

.navbar label.control-label {
    font-weight: normal;
}

.form-control {
    color: #333;
}

.query-editor-nav-pills {
    margin-top: 6px;
}

/*  Query Page
======================================================== */

#panel-main {
    position:absolute;
    top: 101px;
    left: 0;
    right:0;
    bottom:0;
}

#panel-db-info {
    padding: 10px;
}

.panel-editor {
    background-color: #2F3129; /* ace gutter color */
    background-color: #DDD;
}

.panel-viz {
    background-color: #f6f6f6;
    background-color: #FFF;
}

.panel-results {
    padding: 20px;
}


#ace-editor {
    position: absolute;
    top: 1px; 
    bottom: 1px;
    left: 1px;
    right: 1px;
}


.connection-dropdown {
    max-width: 300px;
    background-color: #555;
    color: #DADADA;
    border-color: #888;
}


.tab-content {
    left: 0;
    position: absolute;
    right:0;
    bottom:0;
    top:0;
}
.tab-pane {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
}
.tab-pane-main {
    left: 251px;
    bottom: 0;
    top: 2px;
    right: 0;
    position: absolute;
}
.panel-editor {
    position: absolute;
    left:0;
    top:0; 
    right:0;
    height: 50%;
}
#panel-result {
    position: absolute;
    left:0;
    right:0;
    height: 50%;
    bottom: 0;
}


/*  DB Info sidebar 
======================================================== */

.schema-info {
    padding-left: 0;
    font-size: 12px;
}
.schema-info ul {
    padding-left: 10px;
    padding-right: 6px;
}

.schema-info li {
    list-style-type: none;
    white-space: nowrap;
}



.sidebar {
    padding: 12px;
    width: 250px;
    position: fixed;
    top: 103px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f8f8f8;
    border-right: 1px solid #eee;
}

.sidebar-header {
    display: block;
    padding-top: 10px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #AAA;
}

.sidebar-divider {
    display: block;
}

.sidebar input {
    width: 100%;
}
.sidebar select {
    width: 100%;
}
.sidebar .control-label {
    font-weight: 400;
    color: #777;
}

.data-type {
    color: #999;
}


.navbar-default {
  /* background-image: -webkit-linear-gradient(top,#fff 0,#f8f8f8 100%); */
  background-image: none;
  /* background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f8f8f8)); */
  /* background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%); */
  border-radius: 0;
  box-shadow: none;
  /* background-repeat: repeat-x; */
  /* border-radius: 4px; */
  /* -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075); */
  /* box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075); */
}

/*  Panel Results / Slick grids
======================================================== */

#panel-result-header {
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
    height: 30px;
    border-left: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    background-color: #5bc0de;
    background-color: #f0f0f0;
    padding: .6em;
    
    font-weight: 700;
    line-height: 1;
    color: #333;
    white-space: nowrap;
    vertical-align: baseline;
    font-size: 90%;
    /*
    
    text-align: center;
    
    border-radius: .25em;
    */
}

.panel-result-header-label {
    padding-left: 30px;
    color: #777;
}
.panel-result-header-label:nth-of-type(1) {
    padding-left: 5px;
}

#result-slick-grid, #result-slick-grid div {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

#result-slick-grid {
    position: absolute;
    top: 30px;
    bottom: 0;
    /*
    
    border: 1px solid #dcdcdc;
    */
    left: 0;
    right: 0;
    border-left: 1px solid #dcdcdc;
}

#run-result-notification {
    position: absolute;
    top: 30px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
}

#btn-reload-schema span {
    display: inline-block;
}
#btn-reload-schema {
    float: right;
}

.driver-specific {
    display: none;
}

/*  Bootstrap tagsinput
======================================================== */
.bootstrap-tagsinput {
    margin-bottom: 0;
    min-width: 200px;
}

/*  Twitter Typeahead
======================================================== */

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.twitter-typeahead .tt-hint
{
    display: none;
}

.tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.tt-suggestion > p {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}
.tt-suggestion > p:hover,
.tt-suggestion > p:focus,
.tt-suggestion.tt-cursor p {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}


/*  Utility stuff 
======================================================== */
.hidden {
    display: none;
}

.shortcut-letter {
    text-decoration: underline;
}
