/* Vendor Overrides
============================================================================ */
body {
  padding-top: 50px; /* because fixed navbar 50px tall */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
a:hover, a:active, a:focus {
    text-decoration: none;
}

/* Override bootstrap tab colors to match background of sidebar */
.nav-tabs>li.active>a, .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fdfdfd;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

/* hide tauchart's ui for export options */
.graphical-report__layout__header {
    display: none;
}


/*  Utilities
============================================================================ */
.shortcut-letter {
    text-decoration: underline;
}
.hidden {
    display: none;
}
.spinning {
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


/*  spinkit cube http://tobiasahlin.com/spinkit/
============================================================================ */
.sk-cube-grid {
  width: 90px;
  height: 90px;
  margin: 10px auto;
  
}
.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}


/*  Signin / Signup
======================================================== */
.signin {
  max-width: 330px;
  margin: 0 auto;
  padding: 15px;
}
.signin h2 {
    text-align: center;
    padding-bottom:20px
}
.signin a:hover, .signin a:focus, .signin a:active {
  text-decoration: none;
}
.form-signin-footer {
    text-align: center;
    margin-top: 15px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
		  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.top-field {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.middle-field {
  margin-bottom: -1px;
  border-radius: 0;
}
.bottom-field {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/*  Schema Info
============================================================================ */
.schema-info {
    padding-left: 0;
    font-size: 12px;
}
.schema-info ul {
    padding-left: 10px;
    padding-right: 6px;
}
.schema-info li {
    list-style-type: none;
    white-space: nowrap;
}
.schema-info-schema, .schema-info-table, .schema-info-column {
    min-width: 230px;
    display: inline-block;
}
.schema-additional-context {
    color: #999;
}
.copy-button {
    background-color: #5bc0de; /* label-info color */
    position: absolute;
    cursor: pointer;
    right: 20px;
    width: 40px;
}
.copy-button:hover {
    background-color: orange;
}
#btn-reload-schema span {
    display: inline-block;
}
#btn-reload-schema {
    position: absolute;
    right: 20px;
}


/*  sidebar
============================================================================ */
.sidebar {
    padding: 12px;
    width: 280px;
    position: fixed;
    top: 98px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fdfdfd;
    border-right: 1px solid #eee;
}
.NonSidebar {
    position: fixed;
    top: 98px;
    right: 0;
    bottom: 0;
    left: 280px;
}
.sidebar-body {
    padding: 12px;
    width: 280px;
    position: fixed;
    top: 98px;
    bottom: 108px;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fdfdfd;
    border-right: 1px solid #eee;
}
.sidebar-footer {
    padding: 12px;
    width: 280px;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 108px;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fdfdfd;
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    -moz-box-shadow: -4px -4px 4px #fdfdfd;
    -webkit-box-shadow: -4px -4px 4px #fdfdfd;
    box-shadow: -4px -4px 4px #fdfdfd;
}
.sidebar input {
    width: 100%;
}
.sidebar input[type=checkbox] {
    width: 24px;
}
.sidebar select {
    width: 100%;
}
.sidebar .control-label {
    font-weight: 600;
    font-size: 13px;
}
/* also in sidebar */
.checkbox label, .radio label {
    font-weight: 600;
    font-size: 13px;
}
input[type=checkbox], input[type=radio] {
    margin: 2px 0 0;
}


/*  React Queries
============================================================================ */
.QueryListContainer {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.QueryListSidebar {
    background-color: #FDFDFD;
    padding: 10px;
    flex-basis: 20%;
}

.QueryList {
    flex-basis: 40%;
    position: relative;
    background-color: #FDFDFD;
    
    padding: 10px;
}
.QueryListRowSelected {
    background-color: #FAFAFA; 
}
.QueryListRowDeleteButton {
    color: #888;
    position: absolute;
    /* top: 5px; */
    right: 20px;
    bottom: 20px;
}
.QueryListContents {
    position: absolute;
    top: 32px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    overflow-y: auto;
    margin-bottom: 0px;
}
.QueryPreview {
    background-color: #FDFDFD;
    padding: 10px;
    flex-basis: 40%;
}
#query-preview-ace-editor {
    border-radius: 4px;
    border: 1px solid #DDD;
}


/*  ListRow
============================================================================ */
.ListRowSelected {
    background-color: #FAFAFA; 
}
.ListRowDeleteButton {
    color: #888;
    position: absolute;
    /* top: 5px; */
    right: 20px;
    bottom: 20px;
}


/*  React Schema Info
============================================================================ */
.SchemaInfoViewType {
    color: #8a8a8a;
    background-color: #e7e7e7;
    border: 1px solid #d8d8d8;
    height: 14px;
    width: 14px;
    font-size: 10px;
    display: inline-block;
    padding-left: 3px;
}


/*  Query Editor
============================================================================ */
.QueryEditorSubheaderItem {
    margin-left: 10px;
    min-width: 90px;
}
.QueryEditorQueryName {
    margin-left: 40px;
    font-size: 18px;
    line-height: 20px;
    width: 450px;
    color: #00B7FF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.QueryEditorQueryName:hover {
    color: #23527c;
    cursor: pointer;
}
.QueryEditorAceEditorWrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 50%;
    left: 0;
    padding: 5px;
}
.incomplete-notification {
    color: #e31a1c;
}

/*  Panel Result
============================================================================ */
#panel-result {
    position: absolute;
    left:0;
    right:0;
    height: 50%;
    bottom: 0;
}
.panel-result-header {
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
    height: 30px;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    background-color: #fdfdfd;
    padding: .6em;
    font-weight: 700;
    line-height: 1;
    color: #333;
    white-space: nowrap;
    vertical-align: baseline;
    font-size: 90%;
}
.panel-result-header-item {
    padding-left: 30px;
}
.panel-result-header-item:nth-of-type(1) {
    padding-left: 5px;
}
.panel-result-header-label {
    color: #777;
}
.result-download-link {
    margin-left: 10px;
}
#result-grid, #result-grid div {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
#result-grid {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.run-result-notification {
    font-size: 16px;
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}