.QueryListContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.QueryListSidebar {
  background-color: #fdfdfd;
  padding: 10px;
  flex-basis: 20%;
}

.QueryList {
  flex-basis: 40%;
  position: relative;
  background-color: #fdfdfd;

  padding: 10px;
}
.QueryListRowSelected {
  background-color: #fafafa;
}
.QueryListContents {
  position: absolute;
  top: 32px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  overflow-y: auto;
  margin-bottom: 0px;
}
.QueryPreview {
  background-color: #fdfdfd;
  padding: 10px;
  flex-basis: 40%;
}
#query-preview-ace-editor {
  border-radius: 4px;
  border: 1px solid #ddd;
}
