version: '3'
services:
  postgres:
    image: postgres:9.6-alpine
    environment:
      POSTGRES_USER: sqlpad
      POSTGRES_PASSWORD: sqlpad
      POSTGRES_DB: sqlpad
    ports:
      - '5432:5432'
