/* Padding of 2 added to show link outline when focused */
.ListItem {
  padding: 2px;
}

.ListItem:hover {
  background-color: #f4f4f4;
  transition: background-color 0.15s ease-in-out;
}

.listItemActions {
  position: absolute;
  right: 8px;
  display: flex;
  align-items: center;
}

.queryLink {
  width: 100%;
  padding: 8px;
}

.preview {
  position: fixed;
  left: 640px;
  top: 40px;
  right: 40px;
  bottom: 40px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-shadow: var(--box-shadow-2);
}

.previewQueryName {
  font-size: 1.25rem;
}

.newWindowLink {
  display: inline-flex;
  align-items: center;
}
