<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>SqlPad - A web app for running SQL queries and visualizing the results</title>
  <meta name="keywords" content="SqlPad, node.js, Postgres, postgresql, mysql, microsoft sql server, online sql editor">
  <meta name="description" content="SqlPad is a web app for writing and running SQL queries and visualizing the results. Supports Postgres, MySQL, and SQL Server. Built with Node.js">
  <meta name="author" content="Rick Bergfalk">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/skeleton-home.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="shortcut icon" href="/images/favicon.ico">

</head>
<body class="">
   

    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">
        
        <!-- Nav
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <nav class="navbar">
            <ul class="navbar-list">
              <li class="navbar-item">
                  <a class="navbar-link" href="/">Home</a>
              </li>
              <li class="navbar-item">
                  <a class="navbar-link" href="/installation-and-administration">Installation & Administration</a>
              </li>
              <li class="navbar-item">
                  <a class="navbar-link" href="/chart-tutorials">Chart Tutorials</a>
              </li>
            </ul>
        </nav>
        <div class="u-cf"></div>