
		<footer>
			
			<p>
				Hello! I'm a Business Intelligence developer/SQL Server DBA that dabbles with web development on the side via Node.js.
				Yes, it's an odd combination. You can find most of my web-related code on <a href="http://github.com/rickbergfalk">GitHub</a>. 
				I'm also on <a href="http://twitter.com/rickbergfalk">Twitter</a>, although I don't tweet much.
			</p>
			<p class="footer-links">
				© Rick Bergfalk 2014
			</p>
		</footer>

        
      </div>
    </div>
  </body>
</html>
