<%- include('layout-header') -%>
	<section id="main_content" style="margin-top: 50px;">
		<div class="row">
		    <div class="columns eight">
		        <h1>
                    <%= page.meta.title %>
                </h1>
                <div>
                    <%- page.content %>
                </div>
		    </div>
		</div>
	</section>
<%- include('layout-footer') -%>