<%- include('layout-header') -%>
	<section class="page-content">
		<div class="row">
		    <div class="columns nine">
		        <h1>
                    <%= page.meta.title %>
                </h1>
                <div>
                    <%- page.content %>
                </div>
		    </div>
		</div>
	</section>
<%- include('layout-footer') -%>