<%- include('layout-header') -%>
	<section id="main_content" style="margin-top: 100px;">
		<h1>
			<%= page.meta.title %>
		</h1>
		<div>
			<%- page.content %>
		</div>
	</section>
<%- include('layout-footer') -%>