.toolbar {
  height: 34px;
  border-bottom: 1px solid #ccc;
  background-color: var(--toolbar-bg-color);
  display: flex;
  align-items: center;
}

/* 
  Because we are adjusting header on actual button, 
  we need to handle Button component behavior where padding needs to be adjusted on hover 
  This is not great, and should be addressed in Button component
  The padding is greatly reduced here because the icon used has quite a bit of padding already
*/
.returnToStatementsBtn {
  padding-left: 2px;
}

.returnToStatementsBtn:hover,
.returnToStatementsBtn:focus {
  padding-left: 1px;
}

.statementHeaderStatementText {
  font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 32px;
  color: rgba(0, 0, 0, 0.45);
}
