/* 
  This is needed to make text truncation to work
  Otherwise cell will grow to however large it things to show large queries
*/
.table {
  table-layout: fixed;
  width: 100%;
}

.table tr {
  height: 30px;
}

.table th,
td {
  border-bottom: var(--border);
  padding: 6px 8px;
}

.statementTextColHeader {
  padding-left: 8px;
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.statementTextCol {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px;
}

/* Overrides to make the ghost button look right */
.statementButton {
  font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  text-align: left;
}
