/* 
  This is needed to make text truncation to work
  Otherwise cell will grow to however large it things to show large queries
*/
.statements-table {
  table-layout: fixed;
}

.statements-table tr {
  height: 30px;
}

.statements-table th,
td {
  border-bottom: var(--border);
  padding: 6px 8px;
}

.statements-table th.statement-text-col-header {
  padding-left: 8px;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.statements-table td.statement-text-col {
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px;
}

/* Overrides to make the ghost button look right */
.statement-text-col > button {
  font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  text-align: left;
}

.statement-header-statement-text {
  font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 32px;
  color: rgba(0, 0, 0, 0.45);
}
