.QueryEditorSubheaderItem {
  margin-left: 10px;
  min-width: 90px;
}
.QueryEditorQueryName {
  margin-left: 40px;
  font-size: 18px;
  line-height: 20px;
  width: 400px;
  color: #00b7ff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.QueryEditorQueryName:hover {
  color: #23527c;
  cursor: pointer;
}
