{{ define "main" }}


<article>
  <header>
    <section class="header">
      <div class="row">
        <h1>{{ .Title }}</h1>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
      </div>
    </section>
  </header>
  
  <div class="docs-section">
    <div class="row">
        <div class="two columns">
            <p> </p>
        </div>
        <div class="columns eight">
            
          <table class="u-full-width">
              <thead>
                <tr>
                  <th>post_title</th>
                  <th>posted_at</th>
                </tr>
              </thead>
              <tbody>
                <!-- Ranges through content/posts/*.md -->
                {{ range .Pages }}
                <tr>
                  <td><a href="{{.Permalink}}">{{.Title}}</a></td>
                  <td>{{.Date.Format "2006-01-02"}}</td>
                </tr>
                {{ end }}
                
              </tbody>
            </table>

        </div>
    </div>

    
  </div>
</article>




{{ end }}