/*
  TODO: Remove this and replace with css variables
*/

.shadow1 {
  box-shadow: rgba(64, 169, 255, 0.7) 1px 1px 1px 1px,
    rgb(255, 154, 251, 0.3) 2px 2px 4px 2px;
}

.shadow2 {
  box-shadow: rgba(56, 165, 255, 0.44) 0px 0px 8px 4px;
}

.borderBottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
