.btn {
  line-height: 1.499;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.065);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  touch-action: manipulation;
  height: 32px;
  padding: 0 10px;
  font-size: 14px;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border-color: rgb(217, 217, 217);
  border-top-color: rgb(217, 217, 217, 0.5);
  border-left-color: rgb(217, 217, 217, 0.5);
}

.btn:hover,
.btn:focus {
  color: #40a9ff;
  background-color: #fff;
  border-color: #40a9ff;
  box-shadow: 0 2px 0 rgba(64, 169, 255, 0.5);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
  text-decoration: none;
  background: #fff;
}

.btn:focus {
  outline: 0;
}

.primary {
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgb(9, 100, 185, 0.5);
}

.primary:hover,
.primary:focus {
  color: #fff;
  background-color: #40a9ff;
  border-color: #40a9ff;
}

.primary:active {
  color: #fff;
  background-color: #096dd9;
  border-color: #096dd9;
}

.danger {
  color: #f5222d;
  background-color: #f5f5f5;
  border-color: #d9d9d9;
}

.danger:hover {
  color: #fff;
  background-color: #ff4d4f;
  border-color: #ff4d4f;
}

.danger:focus {
  color: #ff4d4f;
  background-color: #fff;
  border-color: #ff4d4f;
}

.danger:active {
  color: #fff;
  background-color: #cf1322;
  border-color: #cf1322;
}

.btn:disabled,
.btn[disabled] {
  color: rgba(0, 0, 0, 0.25);
  background-color: #eee;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.065);
  border: 1px solid transparent;
  border-color: #d9d9d9;
}
