.btn {
  line-height: 1.499;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  padding: 4px;
  font-size: 14px;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.65);
  background-color: transparent;
  border: none;
  border-color: rgb(217, 217, 217);
}

.btn:hover,
.btn:active {
  color: #40a9ff;
  border-color: #40a9ff;
  box-shadow: 0 0 8px rgba(64, 169, 255, 0.3);
}

.btn:focus {
  outline: 2px solid #40a9ff;
}

.btn:active {
  box-shadow: none;
  color: #096dd9;
  transform: scale(0.95);
}

.btn:disabled,
.btn[disabled] {
  color: rgba(0, 0, 0, 0.25);
  background-color: #eee;
}
