/* https://tobiasahlin.com/spinkit/ */
.spin-kit-row {
  width: 50px;
  height: 20px;
  text-align: center;
  font-size: 10px;
}

.spin-kit-row > div {
  background-color: magenta;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spin-kit-row .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spin-kit-row .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spin-kit-row .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spin-kit-row .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    background-color: magenta;
  }
  20% {
    -webkit-transform: scaleY(1);
    background-color: rgb(0, 183, 255);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
    background-color: rgb(0, 183, 255);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    background-color: magenta;
  }
}
